@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  color: #666;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
html::-webkit-scrollbar {
  width: 0.6rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #e67e22;
  border-radius: 5rem;
}
@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

a {
  text-decoration: none;
}
a:hover {
  transition: all 0.3s linear;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fff;
  text-transform: capitalize;
}

section, header {
  padding: 5rem 9%;
}
@media screen and (max-width: 991px) {
  section, header {
    padding: 5rem 1.6rem;
  }
}

.btn {
  background: none;
  border: 0.1rem solid #130f40;
  font-size: 1rem;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  border-top-left-radius: 0;
  color: #130f40;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: 1rem 0;
}
.btn::before {
  content: "";
  position: absolute;
  background: #130f40;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s linear;
  clip-path: circle(0% at 0% 5%);
  border-radius: 2rem;
  border-top-left-radius: 0;
  z-index: -1;
}
.btn:hover::before {
  clip-path: circle(100%);
}
.btn:hover {
  color: #fff;
}

p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.9rem;
}

h2 {
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 2.9rem;
  margin-bottom: 1.15rem;
  color: #130f40;
  text-align: center;
}
h2 span {
  color: #e67e22;
}

.form {
  position: absolute;
  top: 5rem;
  right: 1.3rem;
  width: 20rem;
  height: 100px;
  background: #fff;
  display: none;
  padding: 1.5rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.form h3 {
  color: #130f40;
  font-size: 1.4rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}
.form-input {
  width: 100%;
  padding: 0.9rem 0;
  margin: 0.7rem 0;
  font-size: 0.9rem;
  border: none;
  border-bottom: 0.1rem solid #130f40;
  border-width: 0.05rem;
}
.form .remember {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #666;
  margin: 0.6rem 0;
}
.form .remember label {
  padding-left: 0.3rem;
  cursor: pointer;
}
.form .btn {
  width: 100%;
  transition: 0.2s linear;
  margin-bottom: 1.7rem;
}
.form .btn::before {
  width: 0;
  height: 0;
}
.form .btn:hover {
  background: #130f40;
}
.form .links {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.form .links a {
  color: #e67e22;
}
.form .links a:hover {
  text-decoration: underline;
  color: #130f40;
}

.top {
  background: #fff;
  padding: 1.1rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 991px) {
  .top {
    padding: 1.1rem;
  }
}
.top .logo {
  color: #130f40;
  font-size: 1.5rem;
  font-weight: 600;
}
.top .logo i {
  color: #e67e22;
}

nav {
  display: flex;
}
nav a {
  color: #666;
  margin-left: 1.8rem;
}
nav a:hover {
  color: #e67e22;
}
@media screen and (max-width: 768px) {
  nav a {
    padding: 1rem 0;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    background: #fff;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 3.7rem;
  }
}

.icons {
  color: #130f40;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.icons .fa-bars {
  display: none;
}
@media screen and (max-width: 768px) {
  .icons .fa-bars {
    display: block;
  }
}
.icons a {
  color: #130f40;
}
.icons .fas {
  padding-left: 0.9rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.icons .fas:hover {
  color: #e67e22;
}

form {
  display: none;
}

header {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background: url(../image/home_bg_img.jpg) no-repeat top right/cover;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 991px) {
  header {
    align-items: center;
  }
}
header .content {
  padding: 1rem;
  margin-top: 4rem;
}
header .content h1 {
  font-size: 3.7rem;
  color: #fff;
  font-weight: 600;
  line-height: 5rem;
}
@media screen and (max-width: 991px) {
  header .content h1 {
    font-size: 2.5rem;
    align-items: center;
  }
}
header .content h1 span {
  color: #e67e22;
}
header .btn {
  color: #fff;
  border-color: #fff;
}
header .btn::before {
  background: #fff;
}
header .btn:hover {
  color: #130f40;
}
header img {
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 7rem;
}

.description {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.description .image {
  flex: 1 1 40rem;
}
@media screen and (max-width: 768px) {
  .description .image {
    flex: 1;
  }
}
.description .image img {
  width: 100%;
}
.description .content {
  flex: 1 1 40rem;
  text-align: center;
  padding: 0 3rem;
}
@media screen and (max-width: 768px) {
  .description .content {
    flex: 1;
  }
}
.description .content a {
  display: inline-block;
}
.description .content h2 {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .description {
    flex-direction: column;
  }
}

#about .content {
  text-align: left;
  padding: 0;
}

#ad {
  padding: 0;
}
#ad .price {
  font-size: 2.3rem;
  color: #130f40;
  padding: 1.6rem 0;
}
@media screen and (max-width: 768px) {
  #ad .price {
    font-size: 1.9rem;
  }
}
#ad .shop-now {
  margin: 1rem 0;
  transition: 0.3s linear;
}
#ad .shop-now:hover {
  transform: rotate(15deg);
}

@media screen and (max-width: 991px) {
  .cat-food h2, .dog-food h2 {
    font-size: 1.9rem;
  }
}

@media screen and (max-width: 768px) {
  .cat-food {
    flex-direction: column-reverse;
  }
}

#shop h2 {
  margin-bottom: 1.4rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 1rem;
}

.product-box {
  overflow: hidden;
  position: relative;
}
.product-box:hover .sticks {
  transform: translateX(0rem);
}
.product-box .image {
  width: 100%;
  overflow: hidden;
}
.product-box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s linear;
}
.product-box .image img:hover {
  transform: scale(1.1);
}
.product-box .sticks {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  transform: translateX(5rem);
  z-index: 10;
  transition: 0.3s linear;
}
.product-box .sticks .fas {
  background: #fff;
  display: block;
  font-size: 1.1rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  margin-top: 0.5rem;
  color: #130f40;
  transition: 0.3s linear;
}
.product-box .sticks .fas:hover {
  background: #e67e22;
}
.product-box .content {
  text-align: center;
  margin-top: 0.5rem;
}
.product-box .content h3 {
  font-size: 1.2rem;
  color: #130f40;
  font-weight: 700;
}
.product-box .content p {
  font-size: 1.1rem;
  color: #e67e22;
}

#services .product-box {
  padding: 2.5rem;
  text-align: center;
  background: #eee;
  border-radius: 33% 67% 70% 30%/30% 30% 70% 70%;
  transition: all 0.3s ease-in;
}
#services .product-box:nth-child(even) {
  border-radius: 79% 21% 81% 19%/58% 93% 7% 42%;
}
#services .product-box h3 {
  font-size: 1.2rem;
  color: #130f40;
  font-weight: 700;
}
#services .product-box a {
  display: inline-block;
}
#services .product-box i {
  background: #e67e22;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
#services .product-box:hover {
  border-radius: 0;
}

#plans .product-box {
  width: 100%;
  background-color: #eee;
  padding: 1rem;
  border-radius: 0.3rem;
}
#plans .product-box .start {
  text-align: center;
  font-weight: 700;
}
#plans .product-box .start h3 {
  font-size: 1rem;
  color: #e67e22;
  margin-bottom: 0.9rem;
}
#plans .product-box .start h4 {
  font-size: 1.9rem;
  color: #130f40;
}
#plans .product-box .icon {
  font-size: 2.7rem;
  margin: 2rem 0;
}
#plans .product-box i {
  color: #e67e22;
}
#plans .product-box .list p {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}
#plans .product-box .value {
  color: #130f40;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 2rem;
}
#plans .product-box .value span {
  font-size: 2.7rem;
}
#plans .product-box .btn {
  right: 1rem;
  bottom: 0rem;
  position: absolute;
  padding: 0.6rem 0.7rem;
  font-size: 0.9rem;
  background-color: #fff;
}

#contact {
  padding: 1.5rem 0;
}
#contact .contact {
  display: flex;
  gap: 1.7rem;
  align-items: center;
}
#contact .contact .image {
  flex: 1 1 40rem;
}
#contact .contact .image img {
  width: 100%;
}
#contact .contact .contact-login {
  flex: 1 1 40rem;
  padding: 2rem 7%;
}
#contact .contact .contact-login h2 {
  font-size: 1.7rem;
  text-align: left;
}
#contact .contact .contact-login .contact-form {
  display: block;
}
#contact .contact .contact-login .contact-form .contact-form-item {
  display: block;
  border: none;
  border-bottom: 1px solid #130f40;
  padding: 0.9rem 0;
  margin: 1.1rem 0;
  width: 100%;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  resize: none;
  outline: 0;
}
#contact .contact .contact-login .contact-form .btn {
  width: 100%;
  transition: all 0.3s linear;
}
#contact .contact .contact-login .contact-form .btn:hover {
  background-color: #130f40;
}

@media screen and (max-width: 768px) {
  #contact {
    padding: 1.5rem 0;
  }

  .contact {
    flex-direction: column;
  }

  .contact-login {
    width: 100%;
    padding: 0 7%;
  }
}
#footer {
  background: url("../../image/footer_background.jpg") no-repeat center/cover;
  position: relative;
  padding-bottom: 0;
}
#footer img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 6rem;
}
#footer .socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
#footer .socials .btn {
  margin-top: 0;
  color: #fff;
  border: 2px solid #fff;
  width: 10.9rem;
}
#footer .socials .btn i {
  margin-right: 0.5rem;
}
#footer .created {
  padding: 1.5rem;
}
#footer .created p {
  color: #fff;
  font-size: 1.12rem;
  text-align: center;
}
#footer .created p span {
  color: #e67e22;
}

/*# sourceMappingURL=style.css.map */
