// grid napisać w _variables bc będzie też używany w innych sekcjach

@use '../global/variables' as *;

#shop{
    h2{
        margin-bottom: 1.4rem;
    }
}


.grid-container{
    @include grid;
}

.product-box{
    overflow: hidden;
    position: relative;

    &:hover .sticks{
        transform: translateX(0rem);
    }

// image
    .image{
        width:100%;
        overflow: hidden;
        
        img{
            height: 100%;
            width:100%;
            object-fit: cover;
            transition: .3s linear;
            
            &:hover{
            transform: scale(1.1);
        }
        }
        
    }

// sticks 
.sticks{
    position: absolute;
    top: .5rem;
    right: .7rem;
    transform: translateX(5rem);
    z-index: 10;
    transition: .3s linear;
    
        .fas{
            background: $color-white;
            display: block;
            font-size: 1.1rem;
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
            text-align: center;
            margin-top: .5rem;
            color: $color-dark-blue;
            transition: .3s linear;

            &:hover{
                background: $color-orange;
            }
        }  
    }

// content
    .content{
        text-align: center;
        margin-top: .5rem;
        
        h3{
            font-size: 1.2rem;
            color: $color-dark-blue;
            font-weight: 700;
        }
        p{
            font-size: 1.1rem;
            color: $color-orange;
        }
    }
}