@use '../global/variables' as *;

.top{
    background: $color-white;
    padding: 1.1rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;

    @include medium-large{
        padding: 1.1rem;
    }

    .logo{
        color: $color-dark-blue;
        font-size: 1.5rem;
        font-weight: 600;

        i{
            color: $color-orange;
        }
    }
}

nav{
    
    a{
    color: $color-base;
    margin-left: 1.8rem;

    &:hover{
        color: $color-orange;
    }
    }

    @include medium{
        display: none;
    }
}

.icons{
    color: $color-dark-blue;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    .fa-bars{
        display: none;
        @include medium{
                display: block;
            }
        }
    a{
        color: $color-dark-blue;
    }
    .fas{
        padding-left: .9rem;
        cursor: pointer;
        transition: all .3s linear;
        &:hover{
            color: $color-orange;
        }
    }
}

form{
    display: none;
}