@use 'variables' as *;

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: $size-base;
    overflow-x: hidden;
    color: $color-base;

    // scroll !
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

    &::-webkit-scrollbar{
    width: .6rem;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: $color-orange;
        border-radius: 5rem;
    }

    @include medium-large{
        font-size: 55%;
    }
}

a{
    text-decoration: none;
    &:hover{
        transition: all .3s linear;
    }
}