@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

$size-base: 10px;
$size-h1: 4rem;
$size-h2: 2.5rem;

$color-base: #666;
$color-dark-blue: #130f40;
$color-orange: #e67e22;
$color-white: #fff;
$color-gray: #eee;

$shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
$border: .1rem solid $color-dark-blue;

$bp-m-lg: 991px;
$bp-md: 768px;
$bp-sm: 450px;

@mixin medium-large{
    @media screen and (max-width: $bp-m-lg){
        @content;
    }  
}

@mixin medium{
    @media screen and (max-width: $bp-md){
        @content;
    }  
}

@mixin small{
    @media screen and (max-width: $bp-sm){
        @content;
    }  
}

@mixin grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap: 1rem;
}

// other variables inside individual files